body {
    background-image: url("../src/wallpapers/wallpaper1.jpg");
    background-size: cover;
}

div {
    padding: 70px!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    width: 500px;
    text-align:center;
}