<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{../css/main.css}" href="css/main.css">

        <title>Total - Safety Car</title>
    </head>
    <body th:object="${loggedUser}">

        <nav class="navbar navbar-light bg-primary">
            <a th:href="@{/total/new-offer}" class="navbar-brand text-light"><i class="fas fa-car-crash"></i> Safety Car</a>
            <ul class="nav justify-content-end">
                <li th:if="${loggedUser.enabled}" class="nav-item">
                    <a th:href="@{/policy/profile}" class="nav-link text-light mx-3"><i class="far fa-user"></i> Welcome
                        <span th:text="${loggedUser.firstname}">FirstName</span>
                        <span th:text="${loggedUser.lastname}">LastName</span>
                    </a>
                </li>
                <li th:if="${loggedUser.enabled}" class="nav-item">
                    <a th:href="@{/total/logout}" class="nav-link text-light mx-3" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </nav>

        <div class="container form_style" th:object="${initialInfoDto}">
            <h1 class="mb-4"><i class="far fa-check-circle"></i> Total Price</h1>
            <hr class="mb-4"/>
            <div class="row mb-5">
                <div class="col-lg-4 col-sm-12 mb-4">
                    <label>Car Brand</label>
                    <h4><strong th:text="*{carBrand}">Volvo</strong></h4>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label>Car Model</label>
                    <h4><strong th:text="*{carModel}">Xc90</strong></h4>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label>Car Cubic</label>
                    <h4><strong th:text="*{carCubic}">000 </strong>cc</h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 col-sm-12">
                    <label>First registration date</label>
                    <h4><strong th:text="${registrationDateModel}">01.01.0001</strong></h4>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label>Driver birthdate</label>
                    <h4><strong th:text="${driverBirthDateModel}">01.01.0001</strong></h4>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label class="mr-3">Accidents in previous year (yes/no)</label>
                    <h4><strong th:text="*{hasAccidents}">OO</strong></h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-12 col-sm-12">
                    <a th:if="${!loggedUser.enabled}" th:href="@{/}" style="width:100%;" class="btn btn-primary"><i class="fas fa-search-dollar"></i>  Get New Offer</a>
                    <a th:if="${loggedUser.enabled}" th:href="@{/total/new-offer}" style="width:100%;" class="btn btn-primary"><i class="fas fa-search-dollar"></i>  Get New Offer</a>
                </div>
            </div>
            <div class="row" style="text-align:center;">
                <div class="col-lg-12 col-sm-12 mb-3">
                    <p>The expected premium calculated is:</p>
                </div>
                <div class="col-lg-12 col-sm-12 mb-4">
                    <h3><strong th:text="*{totalPrice}">1100 </strong> BGN</h3>
                </div>
                <div class="col-lg-12 col-sm-12 d-flex justify-content-around">
                    <form th:if="${!loggedUser.enabled}" th:action="@{/sign-up}" th:object="${initialInfoDto}" method="post">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Register</button>
                    </form>
                    <a th:if="${!loggedUser.enabled}" th:href="@{login}"  class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>

                    <a th:if="${loggedUser.enabled}" th:href="@{policy}" type="submit" class="btn btn-success"><i class="fas fa-arrow-circle-right"></i> Continue</a>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    </body>
</html>