[user]
    name = UserName UserSurname # (required)
    email = UserEmail # (required)
    # signingkey = ABCDEFG1234567890  # (optional, if you use GPG signing)

[core]
    editor = nvim
    pager = delta
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
    defaultBranch = main

[color]
    ui = auto

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
    prompt = false

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
    prompt = false

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
    light = false

[interactive]
    diffFilter = delta --color-only
