<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{../css/policy.css}" href="css/policy.css">

        <title>Policy - Safety Car</title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-primary">
            <a th:href="@{/policy/new}" class="navbar-brand text-light"><i class="fas fa-car-crash"></i> Safety Car</a>
            <ul th:object="${userInfo}" class="nav justify-content-end">
                <li th:if="${userInfo.enabled}" class="nav-item">
                    <a th:href="@{/policy/profile}" class="nav-link text-light mx-3"><i class="far fa-user"></i> Welcome
                        <span th:text="${userInfo.firstname}">FirstName</span>
                        <span th:text="${userInfo.lastname}">LastName</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/policy/new}" class="nav-link text-light mx-3" href="#"><i class="fas fa-plus"></i> New policy</a>
                </li>
                <li class="nav-item">
                    <a th:if="${userInfo.userRole.id == 1}" th:href="@{/policy/agent-filter}" class="nav-link text-light mx-3" href="#"><i class="far fa-folder-open"></i> My policies</a>
                    <a th:if="${userInfo.userRole.id == 2}" th:href="@{/policy/agent-filter}" class="nav-link text-light mx-3" href="#"><i class="far fa-folder-open"></i> My policies</a>
                    <a th:if="${userInfo.userRole.id == 3}" th:href="@{/policy/user-filter}" class="nav-link text-light mx-3" href="#"><i class="far fa-folder-open"></i> My policies</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/policy/logout}" class="nav-link text-light mx-3" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center my-5">
                    <h1><i class="far fa-file-alt"></i> Request Policy</h1>
                </div>
            </div>
            <form th:object="${policyInfoDto}" th:action="@{/policy}" enctype='multipart/form-data' method="post"  class="row" >
                <div th:object="${infoDto}" class="col-lg-5 col-sm-12">
                    <p><strong>Request No</strong> 25768 / 09.08.2019</p>
                    <p><strong>Car Model</strong> <span th:text="*{carModel}">Volvo XC90</span></p>
                    <p><strong>Driver's age</strong><span th:text="*{driverBirthDate}"> 28 yrs</span></p>
                    <p><strong>Registration date:</strong><span th:text="*{registrationDate}"> 09.07.2019</span></p>
                    <p><strong>Previous incidents</strong> <span th:text="*{hasAccidents}">No</span></p>
                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="row mb-4">
                        <div class="col-lg-6 col-sm-12">
                            <label>Start date</label>
                            <input id="minDay" th:field="*{startDate}" type="date" required>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <label>Start time</label>
                            <input th:field="*{startTime}" type="time" required>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 d-flex justify-content-center">
                            <input type="file" name="file" class="custom-file-input" required>
                            <label style="margin:0px 15px;" class="custom-file-label">Attach image of vehicle registration certificate</label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <input th:if="${policyInfoDto.firstName == null}" th:field="*{firstName}" type="text" placeholder="Firstname" class="form-control" required>
                            <input th:if="${policyInfoDto.firstName != null}" th:field="*{firstName}" th:placeholder="*{firstName}" th:value="${userInfo.firstname}" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <input th:if="${policyInfoDto.lastName == null}" th:field="*{lastName}" type="text" placeholder="Lastname" class="form-control" required>
                            <input th:if="${policyInfoDto.lastName != null}" th:field="*{lastName}" th:placeholder="*{lastName}" th:value="${userInfo.lastname}" type="text" placeholder="Lastname" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <input th:if="${policyInfoDto.phoneNumber == null}" th:field="*{phoneNumber}" type="text" placeholder="Phone" class="form-control" required>
                            <input th:if="${policyInfoDto.phoneNumber != null}" th:field="*{phoneNumber}" th:placeholder="*{phoneNumber}" th:value="${userInfo.phoneNumber}" type="text" placeholder="Phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <input th:if="${policyInfoDto.address == null}" th:field="*{address}" type="text" placeholder="Postal Address" class="form-control" required>
                            <input th:if="${policyInfoDto.address != null}" th:field="*{address}" th:placeholder="*{address}" th:value="${userInfo.address}" type="text" placeholder="Postal Address" class="form-control" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-4">
                        <div th:object="${infoDto}"  class="col-lg-6 col-sm-12">
                            <h4>Total Premium</h4>
                            <h3><strong>BGN : </strong><span th:text="*{totalPrice}">1000</span></h3>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <br/>
                            <button type="submit" style="width:100%;" class="btn btn-primary"><i class="far fa-file-alt"></i> Request Policy</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script>
            let minDay = new Date();
            let dd = minDay.getDate();
            let mm = minDay.getMonth()+1;
            let yyyy = minDay.getFullYear();

            if(dd<10)
                dd='0'+dd

            if(mm<10)
                mm='0'+mm

            minDay = yyyy+'-'+mm+'-'+dd;

            document.getElementById("minDay").min = minDay;
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    </body>
</html>